<% include ../SC_header.ejs %>

<form name="BOKSOO">
	<textarea id="calXMLcontent" name="calXMLcontent" style="display:none"></textarea>
	<textarea id="inXMLcontent" name="inXMLcontent" style="display:none" >"</textarea>
	<textarea id="calTextcontent" name="calTextcontent" style="display:none"></textarea>
	<textarea id="outXMLcontent" name="outXMLcontent" style="display:none"></textarea>
	<textarea id="outXMLurl" name="outXMLurl" style="display:none"></textarea>
	<input type="hidden" name="xmlFileLink" id="xmlFileLink" value=""/>
	<input type="hidden" name="title" id="title" value="BOKSOO"/>
	<input type="hidden" name="savefilepath" value="">
	<input type="hidden" name="imagesavepath" value="">
	<input type="hidden" name="imagematchinfo" value="">
	<input type="hidden" name="H_DownloadFilePath" value="">
	<input type="hidden" name="DownloadFilePath" value="">
	<input type="hidden" name="H_root/contents/sosok" value=""/>
	<input type="hidden" name="H_root/contents/hakboo" value=""/>
	<input type="hidden" name="H_root/contents/jungong" value=""/>
	<input type="hidden" name="H_root/contents/sungmyung" value=""/>
	<input type="hidden" name="H_root/contents/hakburn" value=""/>
	<input type="hidden" name="H_root/contents/haknyun" value=""/>
	<input type="hidden" name="H_root/contents/isoodaehak" value=""/>
	<input type="hidden" name="H_root/contents/isoohakboo" value=""/>
	<input type="hidden" name="H_root/contents/isoojungong" value=""/>
	<input type="hidden" name="H_root/contents/sayou" value=""/>
	<input type="hidden" name="H_root/contents/fillsoo" value=""/>
	<input type="hidden" name="H_root/contents/nalja" value=""/>
	<input type="hidden" name="H_root/contents/shinchungja" value=""/>
	<input type="hidden" name="H_root/contents/shinchungjasign" value=""/>
	<input type="hidden" name="H_root/contents/junhwan" value=""/>
	<input type="hidden" name="H_root/contents/junsanbanyoung" value=""/>
<P>
<TABLE style="WIDTH: 820px" borderColor=#000000 cellSpacing=0 cellPadding=5 align=center border=0>
<COLGROUP>
<COL width=700>
</COL>
</COLGROUP>
<TBODY>
<TR>
<TD>
<P>
<TABLE style="WIDTH: 96%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=1>
<COLGROUP>
<COL width="15%">
</COL>
<COL width="10%">
</COL>
<COL width="17%">
</COL>
<COL width="10%">
</COL>
<COL width="17%">
</COL>
<COL width="10%">
</COL>
<COL width="17%">
</COL>
</COLGROUP>
<TBODY>
<TR>
<TD colSpan=7>
<P align=center>
<SPAN style="FONT-SIZE: 20pt">
<STRONG>
<SPAN style="FONT-SIZE: 18pt">복수/부전공 이수 취소 신청서
</SPAN>
</STRONG>
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD rowSpan=3>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">소 속
</SPAN>
</P>
</TD>
<TD rowSpan=2 colSpan=2>
<P align=left>
<INPUT style="WIDTH: 60%" name=root/contents/sosok>
<SPAN style="FONT-SIZE: 9pt">대학
</SPAN>
</P>
</TD>
<TD rowSpan=2 colSpan=2>
<P align=left>
<INPUT style="WIDTH: 60%" name=root/contents/hakboo>
<SPAN style="FONT-SIZE: 9pt">학부(과)
</SPAN>
</P>
</TD>
<TD rowSpan=2 colSpan=2>
<P align=left>
<INPUT style="WIDTH: 60%" name=root/contents/jungong>
<SPAN style="FONT-SIZE: 9pt">전공
</SPAN>
</P>
</TD>
</TR>
<TR>
</TR>
<TR>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">성 명
</SPAN>
</P>
</TD>
<TD>
<P>
<INPUT style="WIDTH: 60%" name=root/contents/sungmyung>
</P>
</TD>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">학 번
</SPAN>
</P>
</TD>
<TD>
<P>
<INPUT style="WIDTH: 60%" name=root/contents/hakburn>
</P>
</TD>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">학 년
</SPAN>
</P>
</TD>
<TD>
<P>
<INPUT style="WIDTH: 60%" name=root/contents/haknyun>
</P>
</TD>
</TR>
<TR>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">이수중인 복수 전공
</SPAN>
</P>
</TD>
<TD colSpan=2>
<P align=left>
<INPUT style="WIDTH: 60%" name=root/contents/isoodaehak>
<SPAN style="FONT-SIZE: 9pt">대학
</SPAN>
</P>
</TD>
<TD colSpan=2>
<P align=left>
<INPUT style="WIDTH: 60%" name=root/contents/isoohakboo>
<SPAN style="FONT-SIZE: 9pt">학부(과)
</SPAN>
</P>
</TD>
<TD colSpan=2>
<P align=left>
<INPUT style="WIDTH: 60%" name=root/contents/isoojungong>
<SPAN style="FONT-SIZE: 9pt">전공
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>
<P align=center>
</P>
<P align=center>
</P>
<P align=center>
</P>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">사&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;유
</SPAN>
</P>
<P align=center>
</P>
</TD>
<TD colSpan=6>
<P>
<TEXTAREA style="HEIGHT: 70px; WIDTH: 70%" name=root/contents/sayou>
</TEXTAREA>&nbsp;
</P>
</TD>
</TR>
<TR>
<TD rowSpan=2 colSpan=7>
<P align=left>
<TABLE id=41 style="WIDTH: 100%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=0>
<COLGROUP>
<COL width="15%">
</COL>
<COL width="28%">
</COL>
<COL width="18%">
</COL>
<COL width="39%">
</COL>
</COLGROUP>
<TBODY>
<TR>
<TD colSpan=4>
<P>
<STRONG>[개인정보 이용 및 수집 동의서]
</STRONG>
</P>
</TD>
</TR>
<TR>
<TD colSpan=4>
<SPAN style="FONT-SIZE: 9pt">한림대학교 복수전공 취소 및 부전공 전환 신청과 관련하여 아래와 같이 귀하의 개인정보를 수집·이용하
</SPAN>
</TD>
</TR>
<TR>
<TD colSpan=4>
<P>
<SPAN style="FONT-SIZE: 9pt">기 위하여 「개인정보 보호법」 제15조에 따라 관련 사항을 알려드리며 다음과 같은 목적을 위해 활용합니다.
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>
<P align=right>■
</P>
</TD>
<TD>
<SPAN style="FONT-SIZE: 9pt">개인정보의 수집·이용 목적 :
</SPAN>
</TD>
<TD colSpan=2>
<SPAN style="FONT-SIZE: 9pt">복수 전공 취소 및 부전공 전환 신청 접수 목적
</SPAN>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
<P align=right>■
</P>
</TD>
<TD colSpan=2>
<P>
<SPAN style="FONT-SIZE: 9pt">
<SPAN style="FONT-SIZE: 9pt">한림대학교가 수집·이용할 개인정보 항목(필수항목) :
</SPAN>
</SPAN>
</P>
</TD>
<TD>
<SPAN style="FONT-SIZE: 9pt">소속대학, 학부(과), 전공, 성명, 학번,&nbsp;복수전공
</SPAN>
</TD>
</TR>
<TR>
<TD>
<P align=right>
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
<P>
<SPAN style="FONT-SIZE: 9pt">대학, 학부(과), 전공, 사유
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>
<P align=right>■
</P>
</TD>
<TD colSpan=2>
<P>
<SPAN style="FONT-SIZE: 9pt">한림대학교가 수집·이용할 개인정보 항목(선택항목) :
</SPAN>
</P>
</TD>
<TD>
<P>
<SPAN style="FONT-SIZE: 9pt">학년
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>
<P align=right>■
</P>
</TD>
<TD>
<P>
<SPAN style="FONT-SIZE: 9pt">개인정보의 보유, 이용기간 :
</SPAN>
</P>
</TD>
<TD colSpan=2>
<P>
<SPAN style="FONT-SIZE: 9pt">수집·이용 동의일로부터 준영구
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>
<P align=right>■
</P>
</TD>
<TD colSpan=3>
<P>
<SPAN style="FONT-SIZE: 9pt">신청자는 개인정보 수집을 거부할 수 있는 권리가 있지만, 이 경우 복수전공 취소 및 부전공전환 신
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>
<P>&nbsp;
</P>
</TD>
<TD colSpan=3>
<P>
<SPAN style="FONT-SIZE: 9pt">청에 불이익이 발생할 수 있습니다.
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">필수항목 수집동의
</SPAN>
</P>
</TD>
<TD colSpan=2>
<INPUT type=radio value=1 name=root/contents/fillsoo>
<SPAN style="FONT-SIZE: 9pt">동의 함
</SPAN>
<INPUT type=radio value=1 name=root/contents/fillsoo>
<SPAN style="FONT-SIZE: 9pt">동의하지 않음
</SPAN>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
<HR style="HEIGHT: 2px; WIDTH: 100%; BACKGROUND-COLOR: #000000">
<TABLE id=20190430_174021 style="HEIGHT: 360px; WIDTH: 96%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=0>
<COLGROUP>
<COL>
</COL>
</COLGROUP>
<TBODY>
<TR>
<TD>
<P>
<STRONG>
<U>
<EM>
<SPAN style="FONT-SIZE: 9pt">'부전공 전환의 경우 하단부 기입
</SPAN>
</EM>
</U>
</STRONG>
</P>
</TD>
</TR>
<TR>
<TD>
<P>
<STRONG>
<EM>
<U>
<SPAN style="FONT-SIZE: 9pt">'협동전공의 경우 전공명만 기입
</SPAN>
</U>
</EM>
</STRONG>
</P>
</TD>
</TR>
<TR>
<TD>
</TD>
</TR>
<TR>
<TD>
<P align=center>위와 같이 (복수/부)전공을 취소 하고자 신청서를 제출합니다.
</P>
</TD>
</TR>
<TR>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
</TR>
<TR>
<TD>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT id=datepicker_20190502_162128 style="WIDTH: 100px" name=root/contents/nalja>
</P>
<P>
<SPAN style="FONT-SIZE: 8pt">
<STRONG>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(클릭 시 날자 입력)
</STRONG>
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;신청자&nbsp;
<INPUT style="WIDTH: 15%" name=root/contents/shinchungja>
</TD>
</TR>
<TR>
<TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;서명
</TD>
</TR>
<TR>
<TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<DIV id=div_root_contents_shinchungjasign class=signature style="HEIGHT: 100px; WIDTH: 30%; POSITION: relative">
</DIV>
</TD>
</TR>
<TR>
<TD>
</TD>
</TR>
<TR>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 18pt">
<STRONG>한림대학교 총장 귀하
</STRONG>
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>
</TD>
</TR>
</TBODY>
</TABLE>
<P>
<TABLE id=3 style="WIDTH: 96%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=1>
<COLGROUP>
<COL width="21%">
</COL>
<COL width="75%">
</COL>
</COLGROUP>
<TBODY id=3>
<TR>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">부전공 전환
</SPAN>
</P>
</TD>
<TD>
<P>
<SPAN style="FONT-SIZE: 9pt">본인은 취소한 복수전공
</SPAN>
<INPUT style="WIDTH: 15%" name=root/contents/junhwan>
<SPAN style="FONT-SIZE: 9pt">을 부전공으로 전환하고자 합니다.
</SPAN>
</P>
</TD>
</TR>
<TR>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">전산반영 확인
</SPAN>
</P>
</TD>
<TD>
<P>&nbsp;
</P>
<DIV id=div_root_contents_junsanbanyoung class=signature style="HEIGHT: 100px; WIDTH: 30%; POSITION: relative">
</DIV>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
<P>
<TABLE style="HEIGHT: 30px; WIDTH: 100%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=0>
<COLGROUP>
<COL>
</COL>
</COLGROUP>
<TBODY>
<TR>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
<P>
<TABLE style="WIDTH: 96%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=0>
<COLGROUP>
<STRONG>
<COL>
</COL>
</STRONG>
</COLGROUP>
<TBODY>
<TR>
<TD>
<P>
<STRONG>
<SPAN style="FONT-SIZE: 10pt">*매 학기 개강 후 30일 이내 접수 가능
</SPAN>
</STRONG>
</P>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
<P>&nbsp;
</P>
</TD>
</TR>
<TR>
</TR>
</TBODY>
</TABLE>
</P>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
<!-- 추가:홍문기 -->
<table style="margin: auto;">
	<tr>
	<td>Account</td>
	<td>
	<input type="text" id="account" size="50" placeholder="Account" value="0xc6c048f618858b87c220ae9cbc129b90ee80affc"/>
	</td>
	</tr>
	<tr>
	<td>Passphrase</td>
	<td>
	<input type="password" id="passphrase" size="50" placeholder="Passphrase" value="moonki"/>
	</td>
	</tr>
</table>
<!-- 추가:홍문기 -->

	<div class="docBtn_list">
		<!-- <input type="button" value="Save" onclick="javascript:bxfXmlSaveMongodb();" /> &#160; -->
		<!-- 홍문기 추가 -->
		<input type="button" value="Save" onclick= "saveSoaxml()"  /> &#160; 
		<!-- <input type="button" value="Save" onclick="javascript:test();" /> &#160;  -->
		<!-- <input type="button" value="List" onclick="javascript:bxfXmlListMongodb();" /> &#160;
		<input type="button" value="Search" onclick="javascript:bxfXmlSearchMongodb();" /> -->
	</div>

	
	<% include ../SC_import.ejs %>
	<% include ../SC_footer.ejs %> 