    
    
    </div>    

    <div class="container" style="padding-top:10px;">

    <!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12" style="font-size: 0.8em;">
            <h1 class="display-3 text-center text-white mt-4">한국대학교</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
      <div class="navbar navbar-inverse" style="color: #FFFFFF; font-size: 0.8em;">
        
        <div class="col-sm-3">
          <h4 class="mt-4">Customer Center</h4>
          <Customer>
            <strong>(02) 6207-1160</strong>
            <br>open hour : mon-fri pm1:30 ~ pm5:00 
            <br>close day : sat,sun,holiday
          </Customer><br/><br/>
          <BankInfo>
            <strong>BANK INFO</strong>
            <br>신한은행 000-000-000000
          </BankInfo>
        </div>
        
        <div class="col-sm-3">
          <h4 class="mt-4">University INFO</h4>
          <BusinessLicense>
            <strong>info</strong>
            <br>유형 :대학교 
            <br>설립 :사립학교
            <br>설립일:1946.09.20
          </BusinessLicense>
        </div>
        
        <div class="col-sm-3">
          <!-- <h4 class="mt-4">Shopping Info</h4>
          <ShoppingInfo>
            <a href="/home" style="color: #FFFFFF;">HOME</a><br/>
            <a href="/admin/products" style="color: #FFFFFF;">ADMIN</a><br/>
            <a href="/cart" style="color: #FFFFFF;">CART</a><br/>
            <a href="/accounts/myinfo" style="color: #FFFFFF;">MYINFO</a><br/>
            <a href="/chat" style="color: #FFFFFF;">CHAT</a><br/>
            <a href="/qna/list" style="color: #FFFFFF;">Q&A</a><br/>
            <a href="/checkout/nomember" style="color: #FFFFFF;">구매조회</a><br/>
          </ShoppingInfo> -->
        </div>
        
        <div class="col-sm-3">
          <h4 class="mt-4">Contact Us</h4>
          <address>
            <strong>Address</strong>
            <br>서울특별시 중구 
            <br>필동로1길 30
            <br>동국대학교 
          </address>
          <address>
            <abbr title="Phone">Phone</abbr>&nbsp;&nbsp;
            02-2260-3114
            <br>
            <abbr title="Email">E-Mail</abbr>&nbsp;&nbsp;
            <a href="mailto:#" style="color: #FFFFFF;">marketing@dongkuk.co.kr</a>
          </address>
        </div>

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    </div>
    <!-- Footer -->
            <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
            </div>
            <!-- /.container -->
            </footer>



            
</body>
</html>