<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>동국대학교 증명정보시스템</title>
    <!-- jquery가 맨 위에 있어야 한다. -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--폰트어섬추가 -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--폰트어섬추가 -->
    <!--bootstrap js 추가 -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- 장바구니 담기 공통모듈 -->
    <script type="text/javascript" src="/static/common.js"></script>
    <style>
        a {
            color: black;
        }
        a:hover {
            color: black;
        }
        .h6 {
            color:  green;
        }
        .rightDiv {
            width: 260px;
            }
        .scale {
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
        }
        .scale:hover {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
        .imgeffect {width:250px; height:300px; overflow:hidden }   /* 부모를 벗어나지 않고 내부 이미지만 확대 */
    </style>        
    <script>
        function comma(str) {
            str = String(str);
            return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
        }
    </script>    


</head>
<body>
        
    <div class="container" style="padding-top:10px;">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- 오른쪽 메뉴바 -->
                    <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button> 
                    <a href="/home" class="navbar-brand">동국대학교</a>
                </div> 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                    <ul class="nav navbar-nav navbar-center">
                        <li>
                            <a href="/home">인터넷증명발급센터</a>
                        </li>
                        <!-- <li>
                            <a href="/collections/collections">Collection</a>
                        </li>
                        <li><a href="/qna/list">Q&A</a></li> -->
                    </ul> 
                    <ul class="nav navbar-nav navbar-right">
                        <% if(isLogin){%>
                            <li ><a href="/accounts/logout" onclick="return confirm('로그아웃 하시겠습니까?')">LOGOUT</a></li>
                            <li><a href="/accounts/myinfo">학생정보</a></li>
                        <%}else{%>
                            <li><a href="/accounts/login">Login</a></li>
                        <%}%>
                        
                        
                        <!-- <li><a href="/cart">CART</a></li>
                        <li><a href="/chat">CHAT</a></li>
                        <li><a href="/checkout/nomember">구매조회</a></li>  -->
                    </ul>
                </div>     
        </nav>
