<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-heading">메뉴</div>
        <div class="panel-body">
            <ul>
                <li><a href="/accounts/wallet">내 지갑</a></li>
                <li><a href="/accounts/songguem">이더 송금</a></li>
                <li><a href="/accounts/history">이더 거래내역</a></li>
            </ul>
        </div>
    </div>
</div>
